software_speed_bmfreis.py
*.err
*.out
AccRQA/
recurrence_cpp/
recurrence_python/
rp/
.venv
__pycache__
.nfs*
Libs/roessler.csv
Run/tmp_data_hpc.dat
Run/tmp_data_openmp.dat
Run/tmp_results_openmp.dat
run.slurm_obsolete
